
# We use Rocket's user-defined extra paramters here for Auth0 config values.
[global]
client_id = "YOUR_AUTH0_CLIENT_ID"
client_secret = "YOUR_AUTH0_CLIENT_SECRET"
redirect_uri = "http://localhost:8000/login"
auth0_domain = "YOUR_AUTH0_DOMAIN"

# Rocket.toml documentation:
# https://rocket.rs/guide/configuration/#rockettoml
